
# Por favor tente resolver o desafio sozinho, não pegue atalhos, tu consegue, é só colocar a cabeça para funcionar.

Execute a célula abaixo apenas uma vez.

In [1]:
%%bash

rm -rf /tmp/github; mkdir -p /tmp/github; cd /tmp/github
git clone https://github.com/guimarczewski/30-day-challenges-with-sql.git
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/install-miniconda.sh > /dev/null 2>&1
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/update-miniconda.sh > /dev/null 2>&1

Cloning into '30-day-challenges-with-sql'...

Nesse desafio super fácil, eu preciso dos registros onde o primeiro caracter seja o "A" e o terceiro "e" da coluna `FirstName`
tu vai criar uma query que traga esse resultado e uma breve explicação da implementação do código e descrever a query abaixo:


FirstName |
-|
Alexandre| 

Na celula onde tem `%%sql` tu vai escrever a query abaixo dela, exemplo:  
```python
%%sql
select * from Customer
```

Para resolução tu podes usar a documentação do sqlite:https://www.sqlite.org/docs.html

In [2]:
%load_ext sql
%sql sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db

'Connected: @//tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db'

explicação da implementação do código
....

Para conseguirmos encontrar os clientes com a primeira letra "A" e a terceira letra "e", usaremos o comando "SUBSTR".

Com esse comando precisamos passar três informações: o campo em análise, qual o ponto que os caracteres devem iniciar e o comprimento.

Abaixo segue uma análise do campo "FirstName", exibindo a primeira e a terceira letra.

In [3]:
%%sql
SELECT FIRSTNAME, SUBSTR(FIRSTNAME, 1, 1) AS PRIMEIRA_LETRA, SUBSTR(FIRSTNAME, 3, 1) AS TERCEIRA_LETRA FROM CUSTOMER LIMIT 3

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
Done.

[('Luís', 'L', 'í'), ('Leonie', 'L', 'o'), ('François', 'F', 'a')]

Para resolver esse desafio, a única diferença do comando anterior é que definiremos condições para essas substrings, lembrando que precisamos especificar se a letra é maiúscula ou minúscula.

In [4]:
%%sql
SELECT FIRSTNAME FROM CUSTOMER WHERE SUBSTR(FIRSTNAME, 1, 1) = "A" AND SUBSTR(FIRSTNAME, 3, 1) = "e"

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
Done.

[('Alexandre',)]